<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="navbar-brand">{{city}}</div>
</nav>
<div class="page-content page-container">
    <div class="padding">
        <div class="row mb-2">
            <button type="button" class="btn btn-success" (click)="goBack()">Go Back</button>
        </div>
        <div class="row container d-flex">
            <div class="col-md-4 col-sm-12 grid-margin stretch-card" *ngFor="let data of consolidatedData">
                <!--weather card-->
                <div class="card card-weather">
                    <div class="card-body">
                        <div class="weather-date-location">
                            <p class="text-gray"><span class="weather-date">{{data.date}}</span></p>
                        </div>
                        <div class="weather-data d-flex">
                            <div class="mr-auto">
                                <h4 class="display-3">{{data.temp}} <span class="symbol">°</span>C</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!--weather card ends-->
            </div>
        </div>
    </div>
</div>